### Importación de datos

In [34]:
# Importamos herramientas que necesitamos: os para trabajar con el sistema operativo,
# time para manejar tiempos, pandas para trabajar con tablas de datos, y algunas cosas
# de sqlalchemy para conectarnos y trabajar con bases de datos.
import os
import time
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
# Cargamos las variables de entorno desde un archivo .env.
# Las variables de entorno son como secretos o configuraciones que guardamos aparte.
load_dotenv()
# Creamos una cadena de conexión para la base de datos usando las variables de entorno.
# Es como una dirección para decirle a Python cómo encontrar y conectarse a la base de datos.
connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
# Creamos un 'motor' para conectarnos a la base de datos. Es como un carro que nos lleva a la base de datos.
engine = create_engine(connection_string, echo=True)  # echo=True mostrará las consultas SQL ejecutadas
# Intentamos hacer varias cosas con la base de datos, pero si algo sale mal, lo diremos.
try:
    # Conectamos a la base de datos usando nuestro 'motor'.
    with engine.connect() as connection:
        print("Base de datos conectada.")
        # Intentamos crear tablas en la base de datos usando un archivo .sql.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para crear las tablas.
            filepath = '/workspaces/SQL/src/sql/create.sql'
            # Abrimos el archivo y leemos lo que dice.
            with open(filepath, 'r') as f:
                sql_script = f.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Tablas creadas exitosamente.")
        # Si algo sale mal al crear las tablas, lo decimos.
        except Exception as e:
            print(f"Error al crear las tablas: {str(e)}")
        # Esperamos un poquito para asegurarnos de que las tablas estén listas antes de seguir.
        time.sleep(1)
        # Ahora intentamos poner datos en las tablas.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para poner los datos.
            insert_sql_path = '/workspaces/SQL/src/sql/insert.sql'
            # Abrimos ese archivo y leemos lo que dice.
            with open(insert_sql_path, 'r') as f:
                insert_sql_script = f.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in insert_sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Datos insertados con éxito.")
        # Si algo sale mal al poner los datos, lo decimos.
        except Exception as e:
            print(f"Error al insertar datos: {str(e)}")
        # Esperamos un poquito para asegurarnos de que los datos estén listos antes de seguir.
        time.sleep(1)
        # Ahora intentamos borrar las tablas.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para borrar las tablas.
            drop_sql_path = '/workspaces/SQL/src/sql/drop.sql'
            # Abrimos ese archivo y leemos lo que dice.
            with open(drop_sql_path, 'r') as file:
                drop_sql_script = file.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in drop_sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Tablas eliminadas con éxito.")
        # Si algo sale mal al borrar las tablas, lo decimos.
        except Exception as e:
            print(f"Error al eliminar tablas: {str(e)}")
        # Ahora intentamos ver los datos en una de las tablas.
        try:
            # Escribimos la instrucción para pedir todos los datos de la tabla 'publishers'.
            query = "SELECT * FROM publishers;"
            # Usamos pandas, que es bueno para trabajar con tablas, para obtener los datos y mostrarlos.
            df_publishers = pd.read_sql(query, connection)
            # Mostramos los datos en la pantalla.
            print("Tabla PUBLISHERS:")
            df_publishers = pd.DataFrame(df_publishers)
            print(df_publishers)
        # Si algo sale mal al intentar ver los datos, lo decimos.
        except Exception as e:
            print(f"Error al leer los datos: {str(e)}")
# Si algo sale mal al intentar conectarnos a la base de datos en general, lo decimos.
except Exception as e:
    print(f"No se puede conectar a la base de datos: {str(e)}")

2023-11-25 18:41:08,183 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-11-25 18:41:08,184 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-25 18:41:08,185 INFO sqlalchemy.engine.Engine select current_schema()
2023-11-25 18:41:08,186 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-25 18:41:08,186 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-11-25 18:41:08,187 INFO sqlalchemy.engine.Engine [raw sql] {}
Base de datos conectada.
2023-11-25 18:41:08,189 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-25 18:41:08,189 INFO sqlalchemy.engine.Engine CREATE TABLE publishers(
    publisher_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    PRIMARY KEY(publisher_id)
)
2023-11-25 18:41:08,190 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {}
2023-11-25 18:41:08,210 INFO sqlalchemy.engine.Engine

CREATE TABLE authors(
    author_id INT NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(50) NULL,
    last_name VARCHAR(100) NULL,
    PRIMARY KEY(author_id)
)
2023-11-25 18:41:08,210 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2023-11-25 18:41:08,232 INFO sqlalchemy.engine.Engine

CREATE TABLE books(
    book_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    total_pages INT NULL,
    rating DECIMAL(4, 2) NULL,
    isbn VARCHAR(13) NULL,
    published_date DATE,
    publisher_id INT NULL,
    PRIMARY KEY(book_id),
    CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
)
2023-11-25 18:41:08,232 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {}
2023-11-25 18:41:08,261 INFO sqlalchemy.engine.Engine

CREATE TABLE book_authors (
    book_id INT NOT NULL,
    author_id INT NOT NULL,
    PRIMARY KEY(book_id, author_id),
    CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
)
2023-11-25 18:41:08,262 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {}

Tablas creadas exitosamente.
2023-11-25 18:41:09,284 INFO sqlalchemy.engine.Engine -- publishers
INSERT INTO publishers(publisher_id, name) VALUES (1, 'O Reilly Media')
2023-11-25 18:41:09,285 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {}
2023-11-25 18:41:09,286 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (2, 'A Book Apart')
2023-11-25 18:41:09,287 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2023-11-25 18:41:09,288 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (3, 'A K PETERS')
2023-11-25 18:41:09,289 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2023-11-25 18:41:09,290 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (4, 'Academic Press')
2023-11-25 18:41:09,290 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2023-11-25 18:41:09,291 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (5, 'Addison Wesley')
2023-11-25 18:41:09,292 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
2023-11-25 18:41:09,292 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (6, 'Albert&Sweigart')
2023-11-25 18:41:09,293 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
2023-11-25 18:41:09,293 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (7, 'Alfred A. Knopf')
2023-11-25 18:41:09,294 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2023-11-25 18:41:09,295 INFO sqlalchemy.engine.Engine

-- authors
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (1, 'Merritt', null, 'Eric')
2023-11-25 18:41:09,295 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
2023-11-25 18:41:09,296 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (2, 'Linda', null, 'Mui')
2023-11-25 18:41:09,297 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2023-11-25 18:41:09,300 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (3, 'Alecos', null, 'Papadatos')
2023-11-25 18:41:09,300 INFO sqlalchemy.engine.Engine [generated in 0.00041s] {}
2023-11-25 18:41:09,301 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (4, 'Anthony', null, 'Molinaro')
2023-11-25 18:41:09,302 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}
2023-11-25 18:41:09,303 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (5, 'David', null, 'Cronin')
2023-11-25 18:41:09,304 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {}
2023-11-25 18:41:09,305 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (6, 'Richard', null, 'Blum')
2023-11-25 18:41:09,306 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}
2023-11-25 18:41:09,307 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (7, 'Yuval', 'Noah', 'Harari')
2023-11-25 18:41:09,308 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
2023-11-25 18:41:09,309 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (8, 'Paul', null, 'Albitz')
2023-11-25 18:41:09,309 INFO sqlalchemy.engine.Engine [generated in 0.00047s] {}
2023-11-25 18:41:09,312 INFO sqlalchemy.engine.Engine

-- books
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5)
2023-11-25 18:41:09,313 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {}
2023-11-25 18:41:09,314 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (2, 'Facing the Intelligence Explosion', 91, 3.87, null, '2013-02-01', 7)
2023-11-25 18:41:09,315 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2023-11-25 18:41:09,316 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (3, 'Scala in Action', 419, 3.74, '9781940000000', '2013-04-10', 1)
2023-11-25 18:41:09,316 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2023-11-25 18:41:09,317 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (4, 'Patterns of Software: Tales from the Software Community', 256, 3.84, '9780200000000', '1996-08-15', 1)
2023-11-25 18:41:09,318 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {}
2023-11-25 18:41:09,319 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (5, 'Anatomy Of LISP', 446, 4.43, '9780070000000', '1978-01-01', 3)
2023-11-25 18:41:09,320 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2023-11-25 18:41:09,321 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (6, 'Computing machinery and intelligence', 24, 4.17, null, '2009-03-22', 4)
2023-11-25 18:41:09,321 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2023-11-25 18:41:09,322 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (7, 'XML: Visual QuickStart Guide', 269, 3.66, '9780320000000', '2009-01-01', 5)
2023-11-25 18:41:09,324 INFO sqlalchemy.engine.Engine [generated in 0.00147s] {}
2023-11-25 18:41:09,324 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (8, 'SQL Cookbook', 595, 3.95, '9780600000000', '2005-12-01', 7)
2023-11-25 18:41:09,325 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2023-11-25 18:41:09,326 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (9, 'The Apollo Guidance Computer: Architecture And Operation (Springer Praxis Books / Space Exploration)', 439, 4.29, '9781440000000', '2010-07-01', 6)
2023-11-25 18:41:09,327 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {}
2023-11-25 18:41:09,328 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (10, 'Minds and Computers: An Introduction to the Philosophy of Artificial Intelligence', 222, 3.54, '9780750000000', '2007-02-13', 7)
2023-11-25 18:41:09,328 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
2023-11-25 18:41:09,329 INFO sqlalchemy.engine.Engine

-- book authors
INSERT INTO book_authors (book_id, author_id) VALUES (1, 1)
2023-11-25 18:41:09,329 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {}
2023-11-25 18:41:09,332 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (2, 8)
2023-11-25 18:41:09,332 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
2023-11-25 18:41:09,333 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (3, 7)
2023-11-25 18:41:09,334 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {}
2023-11-25 18:41:09,335 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (4, 6)
2023-11-25 18:41:09,335 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
2023-11-25 18:41:09,336 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (5, 5)
2023-11-25 18:41:09,337 INFO sqlalchemy.engine.Engine [generated in 0.00099s] {}
2023-11-25 18:41:09,339 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (6, 4)
2023-11-25 18:41:09,339 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2023-11-25 18:41:09,340 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (7, 3)
2023-11-25 18:41:09,341 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {}
2023-11-25 18:41:09,342 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (8, 2)
2023-11-25 18:41:09,342 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
2023-11-25 18:41:09,343 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (9, 4)
2023-11-25 18:41:09,344 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
2023-11-25 18:41:09,345 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (10, 1)
2023-11-25 18:41:09,345 INFO sqlalchemy.engine.Engine [generated in 0.00042s] {}
Datos insertados con éxito.
2023-11-25 18:41:10,348 INFO sqlalchemy.engine.Engine DROP TABLE book_authors
2023-11-25 18:41:10,348 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {}
2023-11-25 18:41:10,351 INFO sqlalchemy.engine.Engine

DROP TABLE books
2023-11-25 18:41:10,351 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2023-11-25 18:41:10,352 INFO sqlalchemy.engine.Engine

DROP TABLE authors
2023-11-25 18:41:10,353 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
Tablas eliminadas con éxito.
2023-11-25 18:41:10,356 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-25 18:41:10,356 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {'table_name': 'SELECT * FROM publishers;', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-25 18:41:10,358 INFO sqlalchemy.engine.Engine SELECT * FROM publishers;
2023-11-25 18:41:10,358 INFO sqlalchemy.engine.Engine [raw sql] {}
Tabla PUBLISHERS:
   publisher_id             name
0             1   O Reilly Media
1             2     A Book Apart
2             3       A K PETERS
3             4   Academic Press
4             5   Addison Wesley
5             6  Albert&Sweigart
6             7  Alfred A. Knopf
2023-11-25 18:41:10,362 INFO sqlalchemy.engine.Engine ROLLBACK